# Core ML and Audio Processing
torchaudio
librosa
soundfile
numpy
scipy
openai-whisper
argostranslate
# TTS
# Pre-trained Models
transformers
timm

# Audio Analysis
audioread
resampy

# API
flask
flask-cors

# Utilities
pandas
matplotlib
pydub
tensorflow
tensorflow-hub

# sukirti

annotated-doc
annotated-types
antlr4-python3-runtime
anyascii
anyio
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
confection
cryptography
curated-tokenizers
curated-transformers
cutlery
cymem
defusedxml
effdet
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
fastapi
# fasttext-wheel
# fasttext-langdetect
filelock
fsspec
geographiclib
geopy
greenlet
grpcio
h11
h2
h5py
hf-xet
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
ImageIO
iopath
Jinja2
joblib
langdetect
layoutparser
lazy_loader
MarkupSafe
ml_dtypes
mpmath
murmurhash
networkx
omegaconf
onnx
opencv-python
packaging
pdf2image
pdfminer.six
pdfplumber
pillow
portalocker
preshed
protobuf
psycopg2-binary
pybind11
pyclipper
pycocotools
pycountry
pycparser
pydantic
pydantic_core
PyMuPDF
pypdfium2
pytesseract
python-dateutil
python-doctr
python-dotenv
python-multipart
pytz
PyYAML
qdrant-client
RapidFuzz
regex
requests
safetensors
scikit-image
scikit-learn
sentence-transformers
setuptools
shapely
six
smart_open
spacy
spacy-alignments
spacy-curated-transformers
spacy-legacy
spacy-loggers
spacy-transformers
SQLAlchemy
srsly
starlette
sympy
thinc
threadpoolctl
tifffile
tokenizers
torch
torchvision
tqdm
typer-slim
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
validators
wasabi
weasel
wrapt
